{{template "base" .}}

{{define "title"}} About {{end}}

{{define "main"}}
    <h2>About</h2>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dicta dolore esse iure laborum nemo perspiciatis
        praesentium quasi tempora ut? Accusantium, atque blanditiis commodi consequuntur doloremque ducimus ea eaque
        eius eveniet excepturi iusto laboriosam, minus nihil repellat rerum tempore veritatis! Adipisci amet asperiores,
        consequuntur deserunt, distinctio ea eligendi expedita maiores nisi obcaecati odio omnis saepe sed sequi sit
        vero voluptas? Adipisci alias asperiores consectetur consequuntur debitis deserunt distinctio ea exercitationem
        illo ipsa iusto, minus nam nemo odio quaerat quisquam quo quos repellat totam vero? Ad aliquam dolor error
        explicabo, fuga in incidunt maxime quas, quia quod soluta tempora ut voluptates.
    </div>
{{end}}